@import url(https://codepen.io/jean-samuel-caron/pen/oNrbMMK.css);
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");
.tp-dfwv {
  z-index: 10;
}

/*

h1,h2,h3,h4,h5,h6 {
	letter-spacing: calc(1em * 0.001 * var(--ls, 0));
}
h1 {
	--ls: 0;
}

*/
*, *:before, *:after {
  box-sizing: border-box;
}

:root {
  --radius: 10px;
  --black: #212A37;
  --white: #f4f4f4;
}

:is(h1, h2, h3, h4, h5, h6) {
  line-height: 1.1;
}

:is(h1, h2, h3, h4, h5, h6):not(.custom-size), :is(h1, h2, h3, h4, h5, h6):not(.custom-size):not(:last-child), :is(h1, h2, h3, h4, h5, h6):not(:last-child):has(+ .visible) {
  margin-bottom: max(0.25em, 10px);
}

body {
  color: var(--black);
  min-height: 100vh;
  display: grid;
  background-color: var(--white);
  font-family: "Inter", sans-serif;
}
body .page {
  padding: calc(50px + 163px) clamp(20px, 13.924px + 1.8987vw, 50px) clamp(20px, 13.924px + 1.8987vw, 50px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
body .page:not(.active) {
  display: none;
}

.container {
  width: 100%;
}

.page[data-page=generator] .container {
  max-width: 850px;
}

.generator {
  margin-bottom: 48px;
}

.table-wrapper {
  position: relative;
}
.table-wrapper table {
  width: 100%;
  border: solid 1px;
  border-radius: var(--radius);
  border-spacing: 0;
}
.table-wrapper table.data {
  border-bottom-right-radius: 0;
}
.table-wrapper table.results tbody td {
  cursor: pointer;
}
.table-wrapper table.results tbody td.value {
  padding: 15px;
}
.table-wrapper table td {
  text-align: center;
}
.table-wrapper table td:not(:last-child):not(:has(+ td.hidden)) {
  border-right: solid 1px;
}
.table-wrapper table td.disabled {
  display: none;
}
.table-wrapper table thead tr {
  height: 50px;
}
.table-wrapper table thead tr:first-child > td:first-child {
  border-top-left-radius: var(--radius);
}
.table-wrapper table thead tr td {
  padding: 15px;
  font-weight: bold;
  border-bottom: solid 1px;
}
.table-wrapper table thead tr td:is(.min-row-w, .max-row-w).hidden {
  display: none;
}
.table-wrapper table tbody tr {
  border-top: solid 1px;
  height: 50px;
}

.table-wrapper table tbody tr:last-child > td:first-child span[contenteditable="true"] {
  border-bottom-left-radius: calc(var(--radius) + -2px)!important;
}

.table-wrapper table tbody tr:not(:last-child) > td {
  border-bottom: solid 1px;
}
.table-wrapper table tbody tr td {
  position: relative;
}
.table-wrapper table tbody tr td:is(.min-row-w, .max-row-w).hidden {
  display: none;
}
.table-wrapper table tbody tr td.min-row-w {
  --offset-spaces: 2;
}
.table-wrapper table tbody tr td span {
  display: block;
  padding: 15px;
  height: 48px;
}
.table-wrapper table tbody tr td .lock {
  width: 20px;
  height: 20px;
  padding: 0 !important;
  position: absolute;
  top: 50%;
  translate: 0 -50%;
  right: 10px;
  cursor: pointer;
  opacity: 0;
}
.table-wrapper table tbody tr td:hover:not(.locked) .lock {
  opacity: 0.5;
}
.table-wrapper table tbody tr td.locked .lock {
  opacity: 1;
}

[contenteditable]:focus-visible {
  border-radius: 0 !important;
  outline: none;
  box-shadow: 0 0 0 2px blue;
  
  
}

.converter div.element:has(span:focus-visible) {
  box-shadow: inset 0 0 0 1px blue;
  border-color: blue;
}

.converter div.element:has(span:focus-visible) span {
  border-color: blue;
  border-width: 2px;
}

.converter div.element:has(span:focus-visible) [contenteditable]:focus-visible {
  box-shadow: none!important;
}

:is(.inputs-wrap, .output-inputs-wrap, .btns-wrap) > *:not(:last-child) {
  border-right: none !important;
}

.inputs-wrap, .output-inputs-wrap {
  display: flex;
}
.inputs-wrap .input-wrapper, .inputs-wrap .output-input-wrapper, .output-inputs-wrap .input-wrapper, .output-inputs-wrap .output-input-wrapper {
  width: 52px;
  height: 52px;
  border: solid 1px var(--black);
}
.inputs-wrap .input-wrapper:first-of-type, .inputs-wrap .output-input-wrapper:first-of-type, .output-inputs-wrap .input-wrapper:first-of-type, .output-inputs-wrap .output-input-wrapper:first-of-type {
  border-top-left-radius: var(--radius);
  border-bottom-left-radius: var(--radius);
}
.inputs-wrap .input-wrapper:last-child, .inputs-wrap .output-input-wrapper:last-child, .output-inputs-wrap .input-wrapper:last-child, .output-inputs-wrap .output-input-wrapper:last-child {
  border-top-right-radius: var(--radius);
  border-bottom-right-radius: var(--radius);
}
.inputs-wrap .input-wrapper:has(input:checked), .inputs-wrap .output-input-wrapper:has(input:checked), .output-inputs-wrap .input-wrapper:has(input:checked), .output-inputs-wrap .output-input-wrapper:has(input:checked) {
  background-color: var(--black);
  color: var(--white);
}
.inputs-wrap .input-wrapper input, .inputs-wrap .output-input-wrapper input, .output-inputs-wrap .input-wrapper input, .output-inputs-wrap .output-input-wrapper input {
  display: none;
  appearance: none;
}
.inputs-wrap .input-wrapper label, .inputs-wrap .output-input-wrapper label, .output-inputs-wrap .input-wrapper label, .output-inputs-wrap .output-input-wrapper label {
  display: flex !important;
  align-items: center;
  justify-content: center;
  height: 100%;
  text-align: center;
  cursor: pointer;
}

span.btn {
  position: absolute;
  width: 52px;
  height: 52px;
  border: solid 1px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;
  font-weight: 100;
  cursor: pointer;
  transition: all 200ms ease-in-out;
}
span.btn:not(:last-child) {
  border-right: none;
}
span.btn:last-child {
  border-top-right-radius: var(--radius);
  border-bottom-right-radius: var(--radius);
}
span.btn:first-child {
  border-top-left-radius: var(--radius);
  border-bottom-left-radius: var(--radius);
}
span.btn:hover {
  background-color: var(--black);
  color: var(--white);
  border-color: var(--black);
}
span.btn:is(.add, .clear, .delete):before {
  content: "";
  width: 100%;
  height: 100%;
  background-color: var(--black);
  mask-repeat: no-repeat;
  mask-position: center;
  transition: all 200ms ease-in-out;
}
span.btn:is(.add, .clear, .delete):hover:before {
  background-color: var(--white);
}
span.btn.add {
  bottom: 0;
  right: 0;
  translate: 100%;
  border-left: none;
}
span.btn.add:before {
  mask-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 448 512'%3e%3c!--!Font Awesome Free 6.5.2 by %40fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--%3e%3cpath d='M256 80c0-17.7-14.3-32-32-32s-32 14.3-32 32V224H48c-17.7 0-32 14.3-32 32s14.3 32 32 32H192V432c0 17.7 14.3 32 32 32s32-14.3 32-32V288H400c17.7 0 32-14.3 32-32s-14.3-32-32-32H256V80z'/%3e%3c/svg%3e");
  mask-size: 42%;
}
span.btn.clear {
  top: 0;
  right: 0;
  translate: 0%;
}
span.btn.clear:before {
  mask-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 384 512'%3e%3c!--!Font Awesome Free 6.5.2 by %40fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--%3e%3cpath d='M342.6 150.6c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0L192 210.7 86.6 105.4c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3L146.7 256 41.4 361.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0L192 301.3 297.4 406.6c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3L237.3 256 342.6 150.6z'/%3e%3c/svg%3e");
  mask-size: 38%;
}
span.btn.delete {
  top: 0;
  right: 0;
  translate: -100%;
}
span.btn.delete:before {
  mask-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 448 512'%3e%3c!--!Font Awesome Free 6.5.2 by %40fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--%3e%3cpath d='M170.5 51.6L151.5 80h145l-19-28.4c-1.5-2.2-4-3.6-6.7-3.6H177.1c-2.7 0-5.2 1.3-6.7 3.6zm147-26.6L354.2 80H368h48 8c13.3 0 24 10.7 24 24s-10.7 24-24 24h-8V432c0 44.2-35.8 80-80 80H112c-44.2 0-80-35.8-80-80V128H24c-13.3 0-24-10.7-24-24S10.7 80 24 80h8H80 93.8l36.7-55.1C140.9 9.4 158.4 0 177.1 0h93.7c18.7 0 36.2 9.4 46.6 24.9zM80 128V432c0 17.7 14.3 32 32 32H336c17.7 0 32-14.3 32-32V128H80zm80 64V400c0 8.8-7.2 16-16 16s-16-7.2-16-16V192c0-8.8 7.2-16 16-16s16 7.2 16 16zm80 0V400c0 8.8-7.2 16-16 16s-16-7.2-16-16V192c0-8.8 7.2-16 16-16s16 7.2 16 16zm80 0V400c0 8.8-7.2 16-16 16s-16-7.2-16-16V192c0-8.8 7.2-16 16-16s16 7.2 16 16z'/%3e%3c/svg%3e");
  mask-size: 45%;
}

.controls {
  width: 100%;
  height: 52px;
  margin-bottom: 24px;
  display: flex;
  justify-content: space-between;
  display: grid;
  grid-template-columns: auto 1fr auto;
  gap: 16px;
}
.controls .choices-wrap {
  display: flex;
  justify-content: center;
  gap: 16px;
}
.controls .choices-wrap > div {
  position: relative;
}
.controls .choices-wrap > div .label {
  width: 100%;
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 0.0375em;
  position: absolute;
  bottom: calc(100% + 0px);
  text-align: center;
  opacity: 0;
  transition: all 150ms ease-in-out;
}
.controls .choices-wrap > div:hover .label {
  opacity: 1;
  bottom: calc(100% + 6px);
}
.controls .btns-wrap {
  display: flex;
  position: relative;
}
.controls .btns-wrap .btn {
  position: relative;
  translate: none !important;
}

.bouton {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  padding: 12px 24px;
  cursor: pointer;
  border: solid 1px;
  border-radius: var(--radius);
  transition: all 200ms ease-in-out;
}
.bouton:hover {
  background-color: var(--black);
  color: var(--white);
  border-color: var(--black);
}

.results-wrapper {
  /*display: grid;
  	--nb-columns: 2;
  --gap-h: 30px;
  --gap-v: 30px;
  gap: var(--gap-v) var(--gap-h);
  grid-template-columns: repeat(auto-fill, minmax(min(100%, max(328px, calc((100% - ((var(--nb-columns) - 1) * var(--gap-h))) / var(--nb-columns)))), 1fr));*/
}
.results-wrapper h2 {
  text-align: center;
  grid-column: 1/-1;
}
.results-wrapper .custom-css {
  width: 100%;
  border: solid 1px;
  border-radius: var(--radius);
  margin-bottom: 36px;
  line-height: 1.4em;
}
.results-wrapper .custom-css .title {
  padding: 15px;
  display: block;
  font-weight: bold;
  position: relative;
  cursor: pointer;
}
.results-wrapper .custom-css .title:has(+ .css.visible) {
  border-bottom: solid 1px var(--black);
}
.results-wrapper .custom-css .title:has(+ .css.visible):before {
  rotate: 180deg;
}
.results-wrapper .custom-css .title:before {
  content: "";
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='currentColor' stroke-width='3' stroke-linecap='round' stroke-linejoin='round' class='lucide lucide-chevron-down' vector-effect='non-scaling-stroke'%3e%3cpath d='m6 9 6 6 6-6' vector-effect='non-scaling-stroke'/%3e%3c/svg%3e");
  width: 30px;
  height: 30px;
  background-size: 100%;
  position: absolute;
  top: 50%;
  right: 15px;
  translate: 0 -50%;
  display: block;
  margin-bottom: 0.5em;
  font-weight: bold;
}
.results-wrapper .custom-css .css {
  padding: 15px;
  cursor: pointer;
}
.results-wrapper .custom-css .css.hidden {
  display: none;
}

:is(.type-scale, .visualizer) h1 {
  font-size: var(--fs-h1);
}
:is(.type-scale, .visualizer) h2 {
  font-size: var(--fs-h2);
}
:is(.type-scale, .visualizer) h3 {
  font-size: var(--fs-h3);
}
:is(.type-scale, .visualizer) h4 {
  font-size: var(--fs-h4);
}
:is(.type-scale, .visualizer) h5 {
  font-size: var(--fs-h5);
}
:is(.type-scale, .visualizer) h6 {
  font-size: var(--fs-h6);
}

:is(h1, h2, h3, h4, h5, h6, p) {
  margin: 0;
}

:is(h1, h2, h3, h4, h5, h6).custom-size {
  transition: all 400ms ease-in-out;
}

p:not(:last-child) {
  margin-bottom: 1em;
}

.visualizer {
  border: solid 1px var(--black);
  border-radius: var(--radius);
}
.visualizer > div {
  cursor: pointer;
  display: grid;
  align-items: center;
  grid-template-columns: 50px auto;
}
.visualizer > div:not(:last-child) {
  border-bottom: solid 1px var(--black);
}
.visualizer > div span.unit {
  display: block;
  font-size: 22px;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.visualizer > div .unit + * {
  padding: 20px;
}
.deconstructor {
  display: flex;
  flex-direction: column;
  margin-bottom: 50px;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
.deconstructor > div {
  width: 100%;
  display: grid;
  border: solid 1px var(--black);
  border-radius: var(--radius);
  max-width: 450px;
  width: 100%;
}
.deconstructor > div span {
  width: 100%;
  height: 48px;
  padding: 15px;
  text-align: center;
}
.deconstructor > div span:not(.clamp-value) {
  border-bottom: solid 1px var(--black);
  font-weight: bold;
}
.deconstructor > div span.clamp-value {
  width: 100%;
  text-align: center;
}
.deconstructor .bouton {
  width: fit-content;
}

.deconstructed {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: 1fr auto;
  border: solid 1px var(--black);
  border-radius: var(--radius);
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
}
.deconstructed > div {
  display: grid;
  grid-template-columns: subgrid;
  grid-template-rows: subgrid;
  grid-row: 1/span 2;
  text-align: center;
}
.deconstructed > div.hidden {
  display: none;
}
.deconstructed > div:not(:last-child):has(+ div:not(.hidden)) {
  border-right: solid 1px var(--black);
}
.deconstructed > div span {
  padding: 15px;
  display: block;
  width: 100%;
}
.deconstructed > div span.label {
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
}
.deconstructed > div span.label:has(+ span:not(:empty)) {
  border-bottom: solid 1px var(--black);
}
.deconstructed > div span.value {
  font-size: 50px;
  font-weight: 900;
  line-height: 1.1;
  width: 100%;
  padding: 15px;
}

.converter {
  display: flex;
  flex-direction: column;
  margin-bottom: 50px;
  align-items: center;
  justify-content: center;
  gap: 20px;
  max-width: 500px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
      margin-left: auto;
    margin-right: auto;
}


.converter > div.wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.converter div.element {
  width: 100%;
  display: grid;
  border: solid 1px var(--black);
  border-radius: var(--radius);
  max-width: 450px;
  width: 100%;
  overflow: hidden;
}

.converter div.element:has(.em) span:not(.editable) {
  background: var(--black);
  color: #fff;
}

.converter div.element span {
  width: 100%;
  height: 48px;
  padding: 15px;
  text-align: center;
}
.converter div.element span:not(.editable) {
  border-bottom: solid 1px var(--black);
  font-weight: bold;
}
.converter div.element span.editable {
  width: 100%;
  text-align: center;
}
.converter .bouton {
  width: fit-content;
  grid-column: 1/-1;
  margin-left: auto;
  margin-right: auto;
}

.navigation {
  /* position: fixed; */
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  padding: 24px;
  background: rgba(244, 244, 244, 0.8);
  backdrop-filter: blur(4.5px);
  -webkit-backdrop-filter: blur(4.5px);
  z-index: 10;
}
.navigation .toggles {
  display: flex;
  gap: 12px;
  justify-content: center;
  flex-wrap: wrap;
}
.navigation .page-toggle {
  border: solid 1px var(--black);
  opacity: 0.6;
  padding: 8px 12px;
  display: block;
  border-radius: var(--radius);
  cursor: pointer;
}
.navigation .page-toggle:hover {
  opacity: 1;
}
.navigation .page-toggle.active {
  background-color: var(--black);
  color: var(--white);
  opacity: 1;
}
.navigation .page-title {
  font-size: 40px;
  font-weight: 900;
  margin-top: 0.83em;
  text-align: center;
  color: var(--black);
}

.page[data-page=type-scale] {
  padding-left: 0;
  padding-right: 0;
}
.page[data-page=type-scale] .controls-typescale {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  margin-bottom: 50px;
  width: 100%;
}
.page[data-page=type-scale] .controls-typescale textarea {
  width: 500px;
  height: 100px;
}

#sidebar {
  position: fixed;
  right: 0;
  height: 100vh;
  top: 0;
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.75);
  z-index: 10;
  color: #fff;
  width: 500px;
}

#sidebar textarea {
  width: 100%;
  min-width: 100%;
  max-width: 100%;
  min-height: 300px;
}

#open-sidebar {
  padding: 20px;
  background-color: #ccc;
  width: fit-content;
  cursor: pointer;
}

.type-scale :is(h1,h2,h3,h4,h5,h6) {
  text-wrap: balance;
  overflow-wrap: break-word;
}
.type-scale h1, .type-scale h2, .type-scale h3, .type-scale h4, .type-scale h5, .type-scale h6 {
  margin-top: 0;
  line-height: 1.1em;
  padding-bottom: 25px !important;
  border-bottom: solid 1px;
  margin-bottom: 25px !important;
}
.type-scale .sections {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 100px;
}
.type-scale .section {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 100px;
}
.type-scale :is(h1,h2,h3,h4,h5,h6,p):last-child {
  margin-bottom: 0;
}
.type-scale .wrapper {
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  display: grid;
  gap: 50px;
  justify-items: center;
}
.type-scale .title {
  grid-column: 1/-1;
  /* 	font-size: 20px; */
  font-size: var(--fs-h6);
  font-weight: bold;
  line-height: 1.1em;
  padding: 0.4em 0.8em;
  background-color: #000;
  width: fit-content;
  color: #fff;
  border-radius: 10px;
  text-align: center;
  text-wrap: balance;
}
.type-scale :is(h1,h2,h3,h4,h5,h6,p) {
  position: relative;
  /* 	text-box: trim-start cap alphabetic; */
  box-sizing: content-box;
}
.type-scale :is(h1,h2,h3,h4,h5,h6,p):before {
  /* 	opacity: 0; */
  content: attr(data-size);
  font-size: 15px;
  display: block;
  position: absolute;
  /* 	bottom: 100%; */
  /* 	left: 0; */
  right: 0;
  top: 50%;
  translate: 0 -50%;
  line-height: 1em;
  font-weight: normal;
}
.type-scale :is(h1,h2,h3,h4,h5,h6):before {
  top: calc(50% - 12.5px);
}
.type-scale .columns {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  /* 	width: 90%; */
  max-width: 1600px;
  display: grid;
  gap: min(5.5%, 50px);
  /* 	grid-template-columns: repeat(auto-fit, minmax(min(340px, 100%), 1fr)); */
  grid-template-columns: repeat(auto-fit, minmax(min(200px, 100%), 1fr));
}
.type-scale .section[data-columns="2-1-1"] .columns {
  /* 	grid-template-columns: 1 1fr 1fr; */
  grid-template-columns: repeat(auto-fit, minmax(min(300px, 100%), 1fr));
}
.type-scale .section[data-columns="2-1-1"] .columns .column:first-child {
  grid-column: span 2;
}
@media (max-width: 980px) {
  .type-scale .section[data-columns="2"] .columns {
    grid-template-columns: 1fr;
  }
}
@media (max-width: 1225px) {
  .type-scale .section[data-columns="3"] .columns {
    grid-template-columns: 1fr;
  }
}
.type-scale .columns.fw {
  /* 	width: 100%; */
  /* 	max-width: 90%; */
  max-width: 100%;
}
.type-scale .columns.fw .column {
  padding: 0 !important;
  border: none !important;
}
.type-scale .column {
  display: block;
  container-type: inline-size;
  position: relative;
  border-radius: 25px;
}
.type-scale .column:not(.no-pad):not(:empty) {
  border: solid 1px #555;
  /* 	padding: 30px; */
  padding: max(5%, 30px) max(4%, 15px);
}
.type-scale .column:empty {
  background-color: #eee;
  min-height: 50px;
}