@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

* {
	box-sizing: border-box;
}

:root {
	--radius: 10px;
	--black: #212A37;
	--white: #f4f4f4;
	--light-grey: #c3c3c3;
	--grey: #a1a1a1;
	--grey2: #878787;
	--accent: #8e3b46;
	--accent_opa: rgba(142, 59, 70, .15);
	--accent2: #3d5467;
	--accent2_opa: rgba(61, 84, 103, .15);
}

input:focus-within{
	outline-color: var(--accent2);
}




/* body {
	font-family: "Outfit", sans-serif;
	font-optical-sizing: auto;
	margin: 0;
	min-height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

h1,h2,h3,h4,h5,h6 {
	margin-top:0;
	line-height: 1.1em;
} */

body {
/* 	font-family: Arial, sans-serif; */
	font-family: "Outfit", sans-serif;
	
	/* padding: 102px 20px; */
	margin: 0;
	display: grid;
	gap: 100px;
/* 	grid-template-rows: auto 1fr; */
	align-items: center;
	/* min-height: 100vh; */
	background-color: var(--white);
}
.topbar {
	/* position: fixed; */
	position: sticky;
	top: 20px;
	left: 0;
	top: 0;
	padding: 20px;
	width: 100%;
	
	display: flex;
	flex-wrap: wrap;
	gap: 10px;
	align-items: center;
/* 	margin-bottom: 20px; */
}
.topbar input:not([type="checkbox"]):not([type="range"]),
.topbar select,
.topbar button {
	padding: 8px 8px 6px;
	height: 40px!important;
}

.content {
	padding: 0 20px;
}

#grid {
	display: flex;
	flex-wrap: wrap;
	gap: 20px;
	justify-content: center;
	margin-bottom: 30px;
	
}

/* #grid:not(:empty) {
	margin-bottom: 30px;
} */

#grid:empty {
	display: none;
}

.card {
	width: 320px;
/* 	width: 450px; */
	border: 1px solid #ddd;
	padding: 10px;
	box-sizing: border-box;
	border-radius: var(--radius);
}
.card-top {
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 10px;
	margin-bottom: 8px;
}

.file-meta {
	min-width: 0;
}

.file-meta [contenteditable]:focus {
   text-overflow: initial;
   overflow: visible;
   white-space: normal;
}

.filename {
	font-size: 12px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
.filetype {
	font-size: 11px;
	color: #666;
	text-transform: uppercase;
}

.file-infos {
	font-size: 11px;
	color: #666;
	display: flex;
	gap: 2px;
}

.rendered-sizes {
	font-size: 11px;
	color: #666;
	display: flex;
	gap: 2px;
}

.file-sizes, .rendered-sizes {
	display: flex;
	gap: 2px;
}







canvas {
	width: 100%;
	height: auto;
	border: 1px solid #ccc;
	display: block;
	margin-bottom: 10px;
}
.controls label {
	display: block;
	font-size: 12px;
	margin-bottom: 2px;
}
.controls input[type="range"] {
	width: 100%;
	margin-bottom: 8px;
}


svg {
	display: block;
}


.inputs-wrapper {
	display: flex;
	gap: 10px;
	align-items: flex-end;
		
}


.input-wrap {
	display: flex;
	flex-direction: column;
	gap: 4px;
}

.input-wrap label {
	font-weight: 600;
}


@layer utilities {
  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    @apply appearance-none;
  }
}

 input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
	opacity: 0;
	display: none;
}


input, select {
	
}


input:not([type="checkbox"]):not([type="range"]), select {
	background-color: var(--white);
	border: solid 1px;
	border-radius: var(--radius);
	text-align: center;
	padding: 20px;
	height: 40px!important;
}


button {
	border-radius: var(--radius);
	border: solid 1px var(--black);
	background-color: var(--black);
	color: var(--white);
	cursor: pointer;
	transition: all 150ms ease-in-out;
	padding-left: 14px!important;
	padding-right: 14px!important;
}

button:hover {
	background-color: var(--light-grey);
	color: var(--black);
	
}

.dl-wrap, .bg-choice-wrap {
	margin-left: auto;
}

.dl-wrap select {
	cursor: pointer;
}

span.icon-wrap {
	cursor: pointer;
	width: 40px;
	height: 40px;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: var(--radius);
	border: solid 1px var(--black);
	background-color: var(--black);
	transition: all 150ms ease-in-out;
}

span.icon-wrap g {
	stroke: var(--white);
	transition: all 150ms ease-in-out;
}


span.icon-wrap:hover {
	background-color: var(--light-grey);
	border-color: var(--grey);
}

span.icon-wrap:hover g {
	stroke: var(--black);
}



.dl-wrap {
	display: grid;
	grid-template-columns: 1fr auto;
	gap: 4px 10px;
	align-items: center;
/* 	flex-wrap: wrap; */
}

.dl-wrap label {
	font-weight: 600;
	width: 100%;
/* 	text-align: center; */
	grid-column: 1 / -1;
}

.bg-choice-wrap {
	display: grid;
	gap: 8px;
}

.bg-choice-wrap label {
	font-weight: 600;
}





#dropZone {
/*     border: 2px dashed #999; */
    padding: 20px 20px;
    text-align: center;
    cursor: pointer;
	
	box-shadow: 0 0 0 2px var(--white);
  outline: dashed 2px var(--black);
	
	width: 100%;
	max-width: 600px;
	min-height: 100px;
	display: flex;
	flex-direction: column;
	gap: 10px;
	align-items: center;
	justify-content: center;
	border-radius: var(--radius);
	margin-left: auto;
	margin-right: auto;
	transition: all 150ms ease-in-out;
	text-wrap: balance;
}

#dropZone.dragover, #dropZone:hover {
/* 		outline: dashed 2px var(--black); */
		outline: dashed 2px var(--accent2);
/*     border-color: var(--black); */
		background: var(--accent2_opa);
	
	
/*     background: var(--light-grey); */
}




/* .delete-btn {
	color: #fff;
	border: 0;
	padding: 5px 8px;
	cursor: pointer;
} */




:is(.download-one,
.reset-size,
.delete-btn,
.rotate-btn) {
	cursor: pointer;
	font-size: 16px;
	padding: 4px 4px;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	user-select: none;
}

:is(.download-one,
.reset-size,
.delete-btn,
.rotate-btn):hover {
	opacity: 0.7;
}

.scale-dragger {
	width: 100%;
	height: 20px;
	background: #eee;
	position: relative;
	margin: 10px 0;
	border-radius: 10px;
	cursor: ew-resize;
}

.scale-dragger .knob {
	width: 10px;
	height: 20px;
	background: #333;
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	border-radius: 5px;
}



/* Color presets */

.color-presets{
    display:flex;
    gap:10px;
    align-items:center;
	margin-left: auto;
}

.color-presets label{
    cursor:pointer;
    position:relative;
}

.color-presets input[type="radio"]{
    display:none;
}

.preset{
    width:32px;
    height:32px;
    display:block;
    border:1px solid var(--grey);
    border-radius:6px;
    transition:0.2s;
}

.transparent{
    background:
        linear-gradient(45deg,#ddd 25%,transparent 25%,transparent 75%,#ddd 75%),
        linear-gradient(45deg,#ddd 25%,transparent 25%,transparent 75%,#ddd 75%);
    background-size:12px 12px;
    background-position:0 0,6px 6px;
    background-color:#fff;
}

.white{ background:#fff; }
.black{ background:#000; }

.picker{
    background:conic-gradient(red, yellow, lime, cyan, blue, magenta, red);
}

.color-presets input:checked + .preset{
/*     border-color:#007bff; */
/* 	border-color: var(--accent); */
	border-color: var(--accent2);
    transform:scale(1.08);
		
	
/*     box-shadow:0 0 0 3px rgba(0,123,255,.15); */
/* 	box-shadow: 0 0 0 3px rgba(142, 59, 70, .15); */
/* 	box-shadow: 0 0 0 3px rgba(61, 84, 103, .15); */
	box-shadow: 0 0 0 3px var(--accent2_opa);
	
	
	
	
	
	
	
}

.custom-picker .color-input{
    position:absolute;
    inset:0;
    opacity:0;
    cursor:pointer;
}